<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <a th:text="${user.getId()}">Id</a>
        </td>
        <td>
            <a th:text="${user.getName()}">Name</a>
        </td>
        <td>
            <a th:text="${user.getSurname()}">Surname</a>
        </td>
        <td>
            <a th:text="${user.getEmail()}">Email</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>