<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>User Password</th>
        <th>User Roles</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">User ID</td>
        <td th:text="${user.name}">User Name</td>
        <td th:text="${user.password}">User Password</td>
        <td th:text="${user.roles}">User Roles</td>
        <td>
            <form th:action="@{'/admin/edit/' + ${user.name}}" th:method="get">
                <input type="submit" value="Edit User"/>
            </form>
            <form th:action="@{'/admin/delete/' + ${user.name}}" th:method="delete">
                <input type="submit" value="Delete User"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{/admin/new-user}" th:method="get">
    <input type="submit" value="New user"/>
</form>
<form th:action="@{/admin/new-role}" th:method="get">
    <input type="submit" value="New role"/>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>