<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Password</th>
        <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <a th:text="${user.getId()}">Id</a>
        </td>
        <td>
            <a th:text="${user.getUsername()}">Name</a>
        </td>
        <td>
            <a th:text="${user.getPassword()}">Name</a>
        </td>
        <td>
            <a th:text="${user.getRoles()}">Name</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit user</a>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title></title>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--    <th:block th:each="msg : ${messages}">-->
<!--        <h1 th:text="${msg}"></h1>-->
<!--    </th:block>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->