<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>User Password</th>
        <th>User Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.id}">User ID</td>
        <td th:text="${user.name}">User Name</td>
        <td th:text="${user.password}">User Password</td>
        <td th:text="${user.roles}">User Roles</td>
    </tr>
    </tbody>
</table>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>